In [1]:
card = """
PIAIC Islamabad
Bahria University
Name : Pakizahh
Fathers Name : Muhammad Mushtaq
"""

print(card)

PIAIC Islamabad
Bahria University
Name : Pakizahh
Fathers Name : Muhammad Mushtaq

In [8]:
student_name = "Pakizahh"
fathers_name = "Muhammad Mushtaq"
fee = 1000
card = """
PIAIC Islamabad
Bahria University
Name : %s
Fathers Name : %s
Fee : %d
"""

print(card%(student_name, fathers_name, fee))

PIAIC Islamabad
Bahria University
Name : Pakizahh
Fathers Name : Muhammad Mushtaq
Fee : 1000

In [9]:
student_name = input("Input Name: ")
fathers_name = input("Input Fathers Name: ")
fee = int(input("Enter Fee: "))
card = """
PIAIC Islamabad
Bahria University
Name : %s
Fathers Name : %s
Fee : %d
"""

print(card%(student_name, fathers_name, fee))

Input Name: p
Input Fathers Name: m
Enter Fee: 1

PIAIC Islamabad
Bahria University
Name : p
Fathers Name : m
Fee : 1

In [10]:
student_name = "Pakizahh"
fathers_name = "Muhammad Mushtaq"
fee = 1000

card = """
PIAIC Islamabad
Bahria University
Name: {student_name}
Fathers Name : {fathers_name}

"""

print(card.format(student_name, fathers_name))

KeyError: 'student_name'

In [11]:
student_name = "Pakizahh"
fathers_name = "Muhammad Mushtaq"
fee = 1000

card = """
PIAIC Islamabad
Bahria University
Name: {f}
Fathers Name : {fn}

"""

print(card.format(f=student_name, fn=fathers_name))

PIAIC Islamabad
Bahria University
Name: Pakizahh
Fathers Name : Muhammad Mushtaq

In [12]:
student_name = "Pakizahh"
fathers_name = "Muhammad Mushtaq"
fee = 1000

card = """
PIAIC Islamabad
Bahria University
Name: {0}
Fathers Name : {1}

"""

print(card.format(student_name, fathers_name))

PIAIC Islamabad
Bahria University
Name: Pakizahh
Fathers Name : Muhammad Mushtaq

In [13]:
"1" + '1'

'11'

In [14]:
int ("1") + int ('1')

2

In [15]:
"1" + 8

TypeError: can only concatenate str (not "int") to str

In [16]:
int('1') + 8

9

In [17]:
"8" * 2

'88'